/**
 * Brand colors
 *  - Light Grey #e9ebed
 *  - Grey       #d4d8dc
 *  - Yellow     #ffc152
 *  - Orange     #ff9a52
 *  - Blue       #45658f
 *  - Green      #33a091
 *  - Red        #f64f5f
 */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,600,600italic&subset=latin,latin-ext);

body {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.8em;
	/*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 600;
}

strong, b {
	font-weight: 600;
}

.btn {
	font-size: 16px;
}

.btn-lg, .btn-group-lg > .btn {
	font-size: 20px;
}

body {}

.lang-toggle {
  background: #337ab7;
  padding-top: 7px;
  padding-bottom: 8px;
  font-size: 14px;
  line-height: 15px;
  color: #fff;
  text-align: right;
}

.lang-toggle a {
  color: #fff;
}

body > .container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar {
	border-radius: 0;
  	margin-bottom: 15px;
}

.navbar-default {
	background: none !important;
	border: none !important;
}

.navbar-default .navbar-brand {
	color: #000;
	font-size: 24px;
	font-weight: bold;
}

.navbar-default .navbar-nav > li > a {
	color: #000;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #000;
	background: #e7e7e7;
}

.container .jumbotron,
.container-fluid .jumbotron {
	border-radius: 0;
	background: url(/img/great-wall.jpg) center center #000;
	color: #fff;
	max-width: 100%;
}

.about .container .jumbotron,
.about .container-fluid .jumbotron {
	background: url(/img/summer-palace.jpg) center center #000;
}

.work .container .jumbotron,
.work .container-fluid .jumbotron {
	background: url(/img/irondequoit-bay.jpg) center center #000;
}

.jumbotron h1 {
	margin-top: 0;
}

.jumbotron h1, .jumbotron h2, .jumbotron p {
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.jumbotron .btn {
	text-shadow: none;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

/* Homepage. */
.intro-video {
  padding: 30px 0;
  text-align: center;
}
.intro-video iframe {
  max-width: 100%;
}

.hero-panel {
	margin-top: 30px;
	margin-bottom: 30px;
}

.hero-feature {
	height: 100%;
	margin-bottom: 30px;
}

.hero-feature .img-container {}

.hero-feature img {
	margin-top: 15px;
	max-width: 100%;
}

.main-content {
	margin-top: 30px;
	margin-bottom: 30px;
}

.contact .main-content h3 {
  line-height: 1.4em;
  font-weight: normal;
}

/* Timeline */
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline > li {
  margin-bottom: 40px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 100%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 5px 15px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: -20px;
  right: -20px;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li > .timeline-badge .glyphicon {
	top: 3.5px;
}
.timeline-badge.job {
  background-color: #009688 !important;
}
.timeline-badge.project {
  background-color: #3F51B5 !important;
}
.timeline-title {
  margin-top: 10px;
  color: inherit;
}
.timeline-panel p,
.timeline-panel ul {
  margin-bottom: 10px;
}

@media (min-width: 768px) {

  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 95%;
    margin-left: -1.5px;
  }
  .timeline > li {
    margin-bottom: 20px;
  }
  .timeline > li > .timeline-badge {
    top: 16px;
    right: auto;
    left: 95%;
  }
  .timeline > li > .timeline-panel {
    width: 87%;
    padding-right: 15px;
  }
  .timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
  }
  .timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
  }

}

@media (min-width: 992px) {

	.hero-feature {
		text-align: center;
	}
	.hero-feature img {
		height: 100px;
	}

  .timeline > li > .timeline-panel {
    width: 89%;
  }

}

@media (min-width: 1200px) {

  .timeline:before {
    left: 50%;
  }
  .timeline > li > .timeline-badge {
    left: 50%;
  }
  .timeline > li > .timeline-panel {
    width: 45%;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
  }
  .timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  .timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }

}
